html {
    height: 100%;
}

body {
    background-color: #FAFAFA;
    font-family: 'Asap', sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

.subContainer {
    margin: 0 auto;
    width: 128px;
    height: 100px;

}

.subContainer a {
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 57px;
    font-weight: bolder;
}

h1 {
    font-size: 75px;
}

h1, h3, a {
    color: #29435C;
}